<footer class="footer" id="footer">
    <div class="container footer-container">
        <nav class="footer-nav">
        <ul class="footer-menu-list">
            <div class="footer-menu-container">
            <li href="" class="footer-menu-item"><a href="#about-us">About us</a></li>
            <li href="" class="footer-menu-item"><a href="#collection">Our collection</a></li>
        </div>
        <div class="footer-menu-container">
            <li href="" class="footer-menu-item"><a href="order">Customer order</a></li>
            <li href="" class="footer-menu-item"><a href="#testimonials">Testimonials</a></li>
        </div>
        </ul>
    </nav>
        <h2 class="footer-subtitle">A touch of <span class="footer-subtitle-span">Ukrainian</span> culture in every embroidery</h2>
    </div>
</footer>