<footer class="footer">
    <div class="container footer-container">
        <ul class="footer-menu-list">
            <div class="footer-menu-container">
            <li href="" class="footer-menu-item">About us</li>
            <li href="" class="footer-menu-item">Our collection</li>
        
        </div>
        <div class="footer-menu-container">
            <li href="" class="footer-menu-item">Customer order</li>
            <li href="" class="footer-menu-item">Testimonials</li>
        </div>
        </ul>
        <h2 class="footer-subtitle">A touch of <span class="footer-subtitle-span">Ukrainian</span> culture in every embroidery</h2>
        

        
    </div>
</footer>
