<section class="hero">
    <div class="container hero-container">
        <div class="hero-header">
            <h1 class="hero-title">
                Reviving the traditional
                <span class="hero-span-ukrainian">Ukrainian</span> artistry in every
                stitch.
            </h1>
            <a href="#order" class="hero-btn">Order
                <svg class="hero-icon-btn" width="51" height="22">
                    <use href="./img/icons.svg#icon-arrow"></use>
                </svg>
            </a>
        </div>
        <div class="hero-handmade">
            <svg class="hero-handmade-svg" width="52" height="51">
                <use href="./img/icons.svg#icon-star-hero"></use>
            </svg>
            <p class="hero-handmade-text">all embroidery is made by hand</p>
        </div>
