<div class="mobile-backdrop">
  <div class="mobile-wrapper">
    <div class="mobile-header-line">
      <address class="mobile-address">
        <a href="tel:+380684439426" class="mobile-tel-link"
          >+380 (68) 443-94-26</a
        >
      </address>
      <button class="mobile-close-btn" type="button">
        <svg class="mobile-close-icon" width="36" height="36">
          <use href="/img/icons.svg#icon-close-btn"></use>
        </svg>
      </button>
    </div>
    <nav class="mobile-navigation">
      <ul class="mobile-nav-list">
        <li class="mobile-nav-item">
          <a href="#about-us" class="mobile-nav-link">About us</a>
        </li>
        <li class="mobile-nav-item">
          <a href="#colection" class="mobile-nav-link">Our collection </a>
        </li>
        <li class="mobile-nav-item">
          <a href="#order" class="mobile-nav-link">Customer order</a>
        </li>
        <li class="mobile-nav-item">
          <a href="#testimonials" class="mobile-nav-link">Testimonials</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
