<section id="collection" class="our-collection">
  <div class="container our-collection-container">
    <h2 class="title our-collection-title">
      Our <span class="our-collection-title-part">collection</span>
    </h2>
    <ul class="our-collection-list">
      <li class="our-collection-list-item">
        <div class="our-collection-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/our-collection/our-collection-1-desk-1-min.jpg    1x,
                /img/our-collection/our-collection-1-desk-1@2x-min.jpg 2x
              "
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/our-collection/our-collection-1-desk-2-min.jpg    1x,
                /img/our-collection/our-collection-1-desk-2@2x-min.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/our-collection/our-collection-1-tab-min.jpg    1x,
                /img/our-collection/our-collection-1-tab@2x-min.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/our-collection/our-collection-1-mob-min.jpg    1x,
                /img/our-collection/our-collection-1-mob@2x-min.jpg 2x
              "
            />
            <img
              class="our-collection-img"
              src="/img/our-collection/our-collection-1-desk-1-min.jpg"
              alt="vyshyvanka1"
              width="400"
              height="430"
            />
          </picture>
        </div>
        <div class="our-collection-price">
          <h3 class="collection-title">AUGUST Poltava women's blouseRING</h3>
          <p class="our-collection-text">3300 UAH</p>
        </div>
      </li>
      <li class="our-collection-list-item">
        <div class="our-collection-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/our-collection/our-collection-2-desk-1-min.jpg    1x,
                /img/our-collection/our-collection-2-desk-1@2x-min.jpg 2x
              "
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/our-collection/our-collection-2-desk-2-min.jpg    1x,
                /img/our-collection/our-collection-2-desk-2@2x-min.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/our-collection/our-collection-2-tab-min.jpg    1x,
                /img/our-collection/our-collection-2-tab@2x-min.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/our-collection/our-collection-2-mob-min.jpg    1x,
                /img/our-collection/our-collection-2-mob@2x-min.jpg 2x
              "
            />
            <img
              class="our-collection-img"
              src="/img/our-collection/our-collection-2-desk-1-min.jpg"
              alt="vyshyvanka2"
              width="400"
              height="430"
            />
          </picture>
        </div>
        <div class="our-collection-price">
          <h3 class="collection-title">Women's blouse Gorgany</h3>
          <p class="our-collection-text">3350 UAH</p>
        </div>
      </li>
      <li class="our-collection-list-item">
        <div class="our-collection-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/our-collection/our-collection-3-desk-1-min.jpg    1x,
                /img/our-collection/our-collection-3-desk-1@2x-min.jpg 2x
              "
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/our-collection/our-collection-3-desk-2-min.jpg    1x,
                /img/our-collection/our-collection-3-desk-2@2x-min.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/our-collection/our-collection-3-tab-min.jpg    1x,
                /img/our-collection/our-collection-3-tab@2x-min.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/our-collection/our-collection-3-mob-min.jpg    1x,
                /img/our-collection/our-collection-3-mob@2x-min.jpg 2x
              "
            />
            <img
              class="our-collection-img"
              src="/img/our-collection/our-collection-3-desk-1-min.jpg"
              alt="vyshyvanka3"
              width="400"
              height="430"
            />
          </picture>
        </div>
        <div class="our-collection-price">
          <h3 class="collection-title">Women's blouse Crimea</h3>
          <p class="our-collection-text">4000 UAH</p>
        </div>
      </li>
      <li class="our-collection-list-item">
        <div class="our-collection-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/our-collection/our-collection-4-desk-1-min.jpg    1x,
                /img/our-collection/our-collection-4-desk-1@2x-min.jpg 2x
              "
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/our-collection/our-collection-4-desk-2-min.jpg    1x,
                /img/our-collection/our-collection-4-desk-2@2x-min.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/our-collection/our-collection-4-tab-min.jpg    1x,
                /img/our-collection/our-collection-4-tab@2x-min.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/our-collection/our-collection-4-mob-min.jpg    1x,
                /img/our-collection/our-collection-4-mob@2x-min.jpg 2x
              "
            />
            <img
              class="our-collection-img"
              src="/img/our-collection/our-collection-4-desk-1-min.jpg"
              alt="vyshyvanka4"
              width="400"
              height="430"
            />
          </picture>
        </div>
        <div class="our-collection-price">
          <h3 class="collection-title">Men's shirt Verkhovina</h3>
          <p class="our-collection-text">3100 UAH</p>
        </div>
      </li>
      <li class="our-collection-list-item">
        <div class="our-collection-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/our-collection/our-collection-5-desk-1-min.jpg    1x,
                /img/our-collection/our-collection-5-desk-1@2x-min.jpg 2x
              "
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/our-collection/our-collection-5-desk-2-min.jpg    1x,
                /img/our-collection/our-collection-5-desk-2@2x-min.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/our-collection/our-collection-5-tab-min.jpg    1x,
                /img/our-collection/our-collection-5-tab@2x-min.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/our-collection/our-collection-5-mob-min.jpg    1x,
                /img/our-collection/our-collection-5-mob@2x-min.jpg 2x
              "
            />
            <img
              class="our-collection-img"
              src="/img/our-collection/our-collection-5-desk-1-min.jpg"
              alt="vyshyvanka5"
              width="400"
              height="430"
            />
          </picture>
        </div>
        <div class="our-collection-price">
          <h3 class="collection-title">Mountain men's shirt</h3>
          <p class="our-collection-text">3300 UAH</p>
        </div>
      </li>
      <li class="our-collection-list-item">
        <div class="our-collection-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                /img/our-collection/our-collection-6-desk-1-min.jpg    1x,
                /img/our-collection/our-collection-6-desk-1@2x-min.jpg 2x
              "
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                /img/our-collection/our-collection-6-desk-2-min.jpg    1x,
                /img/our-collection/our-collection-6-desk-2@2x-min.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/our-collection/our-collection-6-tab-min.jpg    1x,
                /img/our-collection/our-collection-6-tab@2x-min.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                /img/our-collection/our-collection-6-mob-min.jpg    1x,
                /img/our-collection/our-collection-6-mob@2x-min.jpg 2x
              "
            />
            <img
              class="our-collection-img"
              src="/img/our-collection/our-collection-6-desk-1-min.jpg"
              alt="vyshyvanka6"
              width="400"
              height="430"
            />
          </picture>
        </div>
        <div class="our-collection-price">
          <h3 class="collection-title">Men's shirt Yasen</h3>
          <p class="our-collection-text">1700 UAH</p>
        </div>
      </li>
    </ul>
  </div>
</section>
