<section class="our-collection">
  <div class="container our-collection-container">
    <h2>Our collection</h2>
    <ul>
      <li>
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="/src/img/our-collection/"
          />
          <source media="(min-width: 1280px)" srcset="" />
          <source media="(min-width: 768px)" srcset="" />
          <source media="(max-width: 767px)" srcset="" />
        </picture>
        <img
          srcset="
            /img/our-collection/our-collection-1-min.jpg    1x,
            /img/our-collection/our-collection-1@2x-min.jpg 2x
          "
          src="/img/our-collection/our-collection-1-min.jpg"
          alt="vyshyvanka1"
          width="400"
          height="430"
        />
        <h3>AUGUST Poltava women's blouseRING</h3>
        <p>3300 UAH</p>
      </li>
      <li>
        <img
          srcset="
            /img/our-collection/our-collection-2-min.jpg    1x,
            /img/our-collection/our-collection-2@2x-min.jpg 2x
          "
          src="/img/our-collection/our-collection-2-min.jpg"
          alt="vyshyvanka2"
          width="400"
          height="430"
        />
        <h3>Women's blouse Gorgany</h3>
        <p>3350 UAH</p>
      </li>
      <li>
        <img
          srcset="
            /img/our-collection/our-collection-3-min.jpg    1x,
            /img/our-collection/our-collection-3@2x-min.jpg 2x
          "
          src="/img/our-collection/our-collection-3-min.jpg"
          alt="vyshyvanka3"
          width="400"
          height="430"
        />
        <h3>Women's blouse Crimea</h3>
        <p>4000 UAH</p>
      </li>
      <li>
        <img
          srcset="
            /img/our-collection/our-collection-4-min.jpg    1x,
            /img/our-collection/our-collection-4@2x-min.jpg 2x
          "
          src="/img/our-collection/our-collection-4-min.jpg"
          alt="vyshyvanka4"
          width="400"
          height="430"
        />
        <h3>Men's shirt Verkhovina</h3>
        <p>3100 UAH</p>
      </li>
      <li>
        <img
          srcset="
            /img/our-collection/our-collection-5-min.jpg    1x,
            /img/our-collection/our-collection-5@2x-min.jpg 2x
          "
          src="/img/our-collection/our-collection-5-min.jpg"
          alt="vyshyvanka5"
          width="400"
          height="430"
        />
        <h3>Mountain men's shirt</h3>
        <p>3300 UAH</p>
      </li>
      <li>
        <img
          srcset="
            /img/our-collection/our-collection-6-min.jpg    1x,
            /img/our-collection/our-collection-6@2x-min.jpg 2x
          "
          src="/img/our-collection/our-collection-6-min.jpg"
          alt="vyshyvanka6"
          width="400"
          height="430"
        />
        <h3>Men's shirt Yasen</h3>
        <p>1700 UAH</p>
      </li>
    </ul>
  </div>
</section>
