<section class="our-collection">
  <div class="container our-collection-container">
    <h2>Our collection</h2>
    <ul>
      <li>
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/our-collection/our-collection-1-desk-1-min.jpg    1x,
              /img/our-collection/our-collection-1-desk-1@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/our-collection/our-collection-1-desk-2-min.jpg    1x,
              /img/our-collection/our-collection-1-desk-2@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/our-collection/our-collection-1-tab-min.jpg    1x,
              /img/our-collection/our-collection-1-tab@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/our-collection/our-collection-1-mob-min.jpg    1x,
              /img/our-collection/our-collection-1-mob@2x-min.jpg 2x
            "
          />
          <img
            src="/img/our-collection/our-collection-1-desk-1-min.jpg"
            alt="vyshyvanka1"
            width="400"
            height="430"
          />
        </picture>

        <h3>AUGUST Poltava women's blouseRING</h3>
        <p>3300 UAH</p>
      </li>
      <li>
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/our-collection/our-collection-2-desk-1-min.jpg    1x,
              /img/our-collection/our-collection-2-desk-1@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/our-collection/our-collection-2-desk-2-min.jpg    1x,
              /img/our-collection/our-collection-2-desk-2@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/our-collection/our-collection-2-tab-min.jpg    1x,
              /img/our-collection/our-collection-2-tab@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/our-collection/our-collection-2-mob-min.jpg    1x,
              /img/our-collection/our-collection-2-mob@2x-min.jpg 2x
            "
          />
          <img
            src="/img/our-collection/our-collection-2-desk-1-min.jpg"
            alt="vyshyvanka2"
            width="400"
            height="430"
          />
        </picture>
        <h3>Women's blouse Gorgany</h3>
        <p>3350 UAH</p>
      </li>
      <li>
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/our-collection/our-collection-3-desk-1-min.jpg    1x,
              /img/our-collection/our-collection-3-desk-1@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/our-collection/our-collection-3-desk-2-min.jpg    1x,
              /img/our-collection/our-collection-3-desk-2@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/our-collection/our-collection-3-tab-min.jpg    1x,
              /img/our-collection/our-collection-3-tab@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/our-collection/our-collection-3-mob-min.jpg    1x,
              /img/our-collection/our-collection-3-mob@2x-min.jpg 2x
            "
          />
          <img
            src="/img/our-collection/our-collection-3-desk-1-min.jpg"
            alt="vyshyvanka3"
            width="400"
            height="430"
          />
        </picture>
        <h3>Women's blouse Crimea</h3>
        <p>4000 UAH</p>
      </li>
      <li>
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/our-collection/our-collection-4-desk-1-min.jpg    1x,
              /img/our-collection/our-collection-4-desk-1@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/our-collection/our-collection-4-desk-2-min.jpg    1x,
              /img/our-collection/our-collection-4-desk-2@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/our-collection/our-collection-4-tab-min.jpg    1x,
              /img/our-collection/our-collection-4-tab@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/our-collection/our-collection-4-mob-min.jpg    1x,
              /img/our-collection/our-collection-4-mob@2x-min.jpg 2x
            "
          />
          <img
            src="/img/our-collection/our-collection-4-desk-1-min.jpg"
            alt="vyshyvanka4"
            width="400"
            height="430"
          />
        </picture>
        <h3>Men's shirt Verkhovina</h3>
        <p>3100 UAH</p>
      </li>
      <li>
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/our-collection/our-collection-5-desk-1-min.jpg    1x,
              /img/our-collection/our-collection-5-desk-1@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/our-collection/our-collection-5-desk-2-min.jpg    1x,
              /img/our-collection/our-collection-5-desk-2@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/our-collection/our-collection-5-tab-min.jpg    1x,
              /img/our-collection/our-collection-5-tab@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/our-collection/our-collection-5-mob-min.jpg    1x,
              /img/our-collection/our-collection-5-mob@2x-min.jpg 2x
            "
          />
          <img
            src="/img/our-collection/our-collection-5-desk-1-min.jpg"
            alt="vyshyvanka5"
            width="400"
            height="430"
          />
        </picture>
        <h3>Mountain men's shirt</h3>
        <p>3300 UAH</p>
      </li>
      <li>
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/our-collection/our-collection-6-desk-1-min.jpg    1x,
              /img/our-collection/our-collection-6-desk-1@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              /img/our-collection/our-collection-6-desk-2-min.jpg    1x,
              /img/our-collection/our-collection-6-desk-2@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/our-collection/our-collection-6-tab-min.jpg    1x,
              /img/our-collection/our-collection-6-tab@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/our-collection/our-collection-6-mob-min.jpg    1x,
              /img/our-collection/our-collection-6-mob@2x-min.jpg 2x
            "
          />
          <img
            src="/img/our-collection/our-collection-6-desk-1-min.jpg"
            alt="vyshyvanka6"
            width="400"
            height="430"
          />
        </picture>
        <h3>Men's shirt Yasen</h3>
        <p>1700 UAH</p>
      </li>
    </ul>
  </div>
</section>
