<section class="testimonials">
    <div class="container">
    <h2>Testimonials</h2>
    <ul class="testimonials-list">
        <li class="testimonials-item"><img srcset="/img/testimonials/tes-maria-1x.jpg, /img/testimonials/tes-maria-2x.jpg" src="/img/testimonials/tes-maria-1x.jpg" alt="Maria" width="64" height="64"></li>
        <div class="testimonials-item-container">
            <h3>Maria Tkachuk</h3>
            <p class="testimonials-item-title">I was pleasantly surprised by the variety of embroidery offered by Vyshyvanka Vibes. They have models for every taste - from classic to modern. I bought an embroidered dress to celebrate a special occasion and received impeccable service and refinement in every detail. </p>
        </div>
        <li class="testimonials-item"><img srcset="/img/testimonials/tes-sergey-1x.jpg, /img/testimonials/tes-sergey-2x.jpg" src="/img/testimonials/tes-sergey-1x.jpg" alt="Sergey" width="64" height="64"></li>
        <div class="testimonials-item-container">
            <h3>Sergey Rybachok</h3>
            <p class="testimonials-item-title">Vyshyvanka Vibes exceeds all my expectations! Their vyshyvanka are simply masterpieces! I fell in love with the quality of the materials and the skill of the artisans behind each product. This is my favorite embroidery shop where I always find something special and unique.</p>
        </div>
        <li class="testimonials-item"><img srcset="/img/testimonials/tes-netalia-1x.jpg, /img/testimonials/tes-netalia-2x.jpg" src="/img/testimonials/tes-netalia-1x.jpg" alt="Natalia" width="64" height="64"></li>
        <div class="testimonials-item-container">
            <h3>Natalia Chatuk</h3>
            <p class="testimonials-item-title">Vyshyvanka Vibes is a real find for everyone who appreciates Ukrainian culture. Their embroidery reflects the spirit and traditions of our people. I not only buy embroidered shirts for myself, but also give them to my friends abroad as a symbol of our beauty and national pride. </p>
        </div>
    </ul>
</div>
</section>
