.about-us-list {
  margin-top: 40px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.04em;
  color: rgba(252, 249, 249, 0.4);
}
.about-us {
  background-image: url(/img/about-us/elements-min.png);
  background-size: 458px 408px;
  background-repeat: no-repeat;
  background-position: right -230px top 630px;
}
.about-us-img {
  border-radius: 4px;
}
@media screen and (min-resolution: 192dpi) {
  .about-us {
    background-image: url(/img/about-us/elements@2x-min.png);
  }
}
@media screen and (min-width: 768px) {
  .about-us-title {
    font-size: 44px;
    line-height: 1.455;
  }
  .about-us-list {
    margin-bottom: 40px;
    font-size: 16px;
    width: 704px;
  }
  .about-us-img {
    width: 704px;
    height: 545px;
  }

  .about-us {
    background-size: 545px 484px;
    background-position: right -150px top 530px;
  }
}

@media screen and (min-width: 1280px) {
  .about-us-all-container {
    display: flex;
  }
  .about-us-list {
    width: 536px;
  }
  .list-about-us-one {
    width: 508px;
  }
  .about-us-img {
    width: 594px;
  }
  .about-us-container {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 50px;
  }
  .about-us {
    background-position: right -120px top 210px;
  }
}
@media screen and (min-width: 1440px) {
  .about-us-list {
    max-width: 481px;
  }
  .list-about-us-one {
    max-width: 479px;
  }
  .about-us-img {
    width: 709px;
  }
  .about-us {
    background-position: right top 220px;
  }
}
