.testimonials-text {
font-weight: 500;
/* font-size: 44px;
line-height: 145%; */
font-size: 32px;
line-height: 137%;
letter-spacing: -0.03em;
color: #fcf9f9;
margin-bottom: 64px;
}

.testimonials-list {
  width: 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: 26px;
    padding-left: 0;
    padding-right: 0;
}

.testimonials-item {
    width: 100%;
    height: 243px;
    display: flex;
    justify-content: center;
    position: relative;
    border: 1px solid rgba(252, 249, 249, 0.1);
    border-radius: 4px;
    padding: 54px 22px 18px 22px;
    
}

.testimonials-item:not(:first-child) {
  display: none;
}

.testimonials-img {
    position: absolute;
    top: -24px;
    left: 50%;
    transform: translate(-50%);
}

.testimonials-item-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    }

.testimonials-text-text {
font-weight: 600;
font-size: 20px;
line-height: 150%;
text-align: center;
color: #fcf9f9;
margin-bottom: 8px;
}

.testimonials-item-title {
text-align: center;
}

@media screen and (min-width: 768px) {

  .testimonials-item {
    width: calc((100% - 32px) / 2);
    height: 286px;
    padding: 54px 18px 18px 18px;
  }

  .testimonials-list{
    gap: 32px;
  }

  .testimonials-item:not(:nth-child(3)) {
    display: block;
  }

   .testimonials-item-wrap {
      width: 100%;
      }

    .testimonials-item-title {
      font-size: 14px;
      }

    }

  @media screen and (min-width: 1280px) {

    .testimonials-item {
      width: calc((100% - 52px) / 3);
      height: 286px;
      padding: 54px 18px 18px 18px;
    }

    .testimonials-item:not(:first-child) {
      display: block;
    }

    .testimonials-item-wrap {
      width: 100%;
      }

  }