.testimonials-text {
font-weight: 500;
font-size: 44px;
line-height: 145%;
letter-spacing: -0.03em;
color: #fcf9f9;
margin-bottom: 64px;
}

.testimonials-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 26px;
    padding-left: 0;
    padding-right: 0;
}

.testimonials-item {
    width: 376px;
    height: 285px;
    display: flex;
    justify-content: center;
    position: relative;
    border: 1px solid rgba(252, 249, 249, 0.1);
    border-radius: 4px;
    padding: 54px 18px 39px 18px;
    
}

.testimonials-img {
    position: absolute;
    bottom: 247px;
}

.testimonials-item-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 340px;
    height: 192px;
}

.testimonials-text-text {
font-weight: 600;
font-size: 20px;
line-height: 150%;
text-align: center;
color: #fcf9f9;
margin-bottom: 8px;
}

.testimonials-item-title {
text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 768px) {

  .testimonials-item {
    width: 335px;
    height: 243px;
    padding: 54px 22px 18px 22px;
  }

    .testimonials-item:not(:first-child) {
      display: none;
    }

    .testimonials-item-wrap {
      width: 291px;
      height: 171px;
    }

    .testimonials-item-title {
      font-size: 14px;
      }

  }
  @media screen and (min-width: 768px) and (max-width: 1280px) {

    .testimonials-item {
      width: 348px;
      height: 286px;
      padding: 54px 18px 18px 18px;
    }

    .testimonials-item:last-child {
      display: none;
    }

    .testimonials-item-wrap {
      width: 312px;
      height: 214px;
    }

  }